body {
    background-color: ffffff;
    font-size:10;
    font-family:geneva;
    font-weight: lighter;
    color: #808080;
}
table {
    font-size:10;
    font-family:geneva;
    font-weight: lighter;
    font-stretch: ultra-condensed;
    word-spacing: 21px;
}
a:link { color: #808080; }
a:visited { color: #808080; }
a:active { color: #000; }
a:hover { color: #CCC; }
a { text-decoration: none }

.container {
    whitespace:no-wrap;
    float:left;
    width:100%;
    min-width:1100px;
    &:before,
    &:after {
        content: " "; // 1
        display: table; // 2
    }
    &:after {
        clear: both;
    }
}
.navbar {
    width: 14%;
    vertical-align: top;
    float:left;
    position:relative;
    min-width: 160px;
    display:inline-block;
}
.navbar ul {
    list-style-type:none;
    list-style: none;
    font-family: 'PT Sans', sans-serif;
    font-size: 14pt;
    padding: 0;
    padding-left: 12px;
    color: #808080;
}

.navbar ul li {
    display: block;
    padding: 0;
}

.content {
    position: relative;
    float: left;
    vertical-align: top;
    padding-top: 9px;
    display: inline-block;
    font-family: 'PT Sans', sans-serif;
    font-size: 14pt;
    width: 85%;
    text-align: center;
    min-width: 810px;
}

.composite .gallery {
    width: 100%;
    max-width: 1100px;
}
.process .gallery {
    width:100%;
    max-width: 975px;
}

#slides {
    height: 700px;
}
.gallery img {
    width: inherit;
}
.footer {
    color: #fff;
}
.footer a {
    color: #fff;
}
.contact {
    text-align: left;
    font-size: 12pt;
    padding-left: 63px;
    width: 380px;
}

.process {
    margin: auto 0;
    text-align: center;
}

.slidesjs-pagination, #slidesjs-log {
    display:none;
}

.slidesjs-previous {
    top: -548px;
    opacity: 0;
    background-color: white;
    position: relative;
    width: 25%;
    color: white;
    z-index: 100;
    display: block;
    float: left;
    height: 700px;
}
.slidesjs-next {
    top: -548px;
    opacity: 0;
    background-color: white;
    position: relative;
    width: 25%;
    color: white;
    z-index: 100;
    display: block;
    float: right;
    right: -1px;
    height: 700px;
}
.slidesjs-navigation:visited, .slidesjs-navigation:hover{
    color: white;
}
.slidesjs-navigation:hover {
    opacity: 0.5;
    cursor:pointer;
}